---
name: Release

on:
  push:
    tags:
      - "v*"
      - "cross-gem/*"
  workflow_dispatch:

jobs:
  ci-data:
    runs-on: ubuntu-latest
    outputs:
      result: ${{ steps.fetch.outputs.result }}
    steps:
      - uses: oxidize-rb/actions/fetch-ci-data@c179116ae638d5d1da5039b8ca798b1fd5ce9219 # v1.4.1
        id: fetch
        with:
          supported-ruby-platforms: |
            exclude: ["arm-linux", "x64-mingw32", "x64-mingw-ucrt"]
  source-gem:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: ruby/setup-ruby@2a7b30092b0caf9c046252510f9273b4875f3db9 # v1.254.0
        with:
          bundler-cache: true

      - name: Build gem
        run: bundle exec rake build

      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: source-gem
          path: pkg/*.gem

  cross-gem-compile:
    name: Compile native gem for ${{ matrix.platform }}
    runs-on: ubuntu-latest
    needs: ci-data
    strategy:
      matrix:
        platform: ${{ fromJSON(needs.ci-data.outputs.result).supported-ruby-platforms }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: ruby/setup-ruby@2a7b30092b0caf9c046252510f9273b4875f3db9 # v1.254.0
        with:
          bundler-cache: true

      - uses: oxidize-rb/actions/cross-gem@c179116ae638d5d1da5039b8ca798b1fd5ce9219 # v1.4.1
        id: cross-gem
        with:
          platform: ${{ matrix.platform }}
          ruby-versions: "3.2,3.3,3.4"

      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: cross-gem-${{ matrix.platform }}
          path: ${{ steps.cross-gem.outputs.gem-path }}

  cross-gem:
    name: cross-gem
    runs-on: ubuntu-latest
    needs: cross-gem-compile
    steps:
      - name: Merge Artifacts
        uses: actions/upload-artifact/merge@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: cross-gem
          pattern: cross-gem-*
          delete-merged: true

  test-cross-gem-install:
    runs-on: ${{ matrix.os }}
    needs: cross-gem
    strategy:
      matrix:
        os: ["ubuntu-latest", "macos-latest"]
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          name: cross-gem
          path: pkg

      - uses: ruby/setup-ruby@2a7b30092b0caf9c046252510f9273b4875f3db9 # v1.254.0

      - name: Test cross gem install
        shell: bash
        run: test/test_gem_install.sh precompiled

  test-source-gem-install:
    runs-on: ${{ matrix.os }}
    needs: source-gem
    strategy:
      matrix:
        os: ["ubuntu-latest", "macos-latest"]
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          name: source-gem
          path: pkg

      - uses: ruby/setup-ruby@2a7b30092b0caf9c046252510f9273b4875f3db9 # v1.254.0
        with:
          ruby-version: "3.4"

      - name: Test source gem install
        shell: bash
        run: test/test_gem_install.sh pkg/*.gem

  release:
    name: Create release for ${{ github.ref }}
    needs: [test-cross-gem-install, test-source-gem-install]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          name: cross-gem
          path: cross-gem

      - uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          name: source-gem
          path: source-gem

      - name: Move gems to pkg
        run: |
          ls -la cross-gem source-gem
          mkdir -p pkg
          cp -v cross-gem/*.gem source-gem/*.gem pkg/

      - name: Create release
        if: startsWith(github.ref, 'refs/tags/v')
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7.0.1
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          script: |
            const fs = require("fs");
            const path = require("path");

            const prerelease = "${{ github.ref_name }}".includes(".pre")

            const release = await github.rest.repos.createRelease({
              owner: context.repo.owner,
              repo: context.repo.repo,
              tag_name: "${{ github.ref }}",
              name: "${{ github.ref_name }}",
              generate_release_notes: true,
              prerelease,
              draft: true
            });

            const globber =  await glob.create("pkg/*.gem");

            for await (const file of globber.globGenerator()) {
              console.log("Uploading " + file);

              const data = fs.readFileSync(file);

              await github.rest.repos.uploadReleaseAsset({
                owner: context.repo.owner,
                repo: context.repo.repo,
                release_id: release.data.id,
                name: path.basename(file),
                data: data,
              });
            }
